<a href="https://colab.research.google.com/github/GosukeGit/python-basic-kadai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(type(30 / 3))
print(45 % 8)

63
18
90
<class 'float'>
5

In [ ]:
print(45 + 1.8)
print(3 -1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率"+str(50)+"%")

降水確率50%

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
top_side = "10cm"
low_side = "20cm"
height = "5cm"

# 単位を取り除き、整数に変換する
top_side = int(top_side.replace("cm", ""))
low_side = int(low_side.replace("cm", ""))
height = int(height.replace("cm", ""))

# 台形の面積の公式を適用する
area = (top_side + low_side) * height / 2

# 結果を "cm" 単位で表示
print(f"{area} cm²")

75.0 cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

print(country_names[2])

print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(10)
prime_numbers.remove(2)
print(prime_numbers)

{2, 3, 5, 7}
{3, 5, 7, 10}

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'フランス', 'イギリス', '日本', 'アメリカ'}
{'ドイツ', 'イギリス', '日本', 'アメリカ', 'フランス'}
{'ドイツ', '日本', 'アメリカ', 'フランス'}

In [ ]:
personal_data = {"name":"侍太郎", "age":36, "gender":"男性"}
print(personal_data["name"])

print(personal_data)

personal_data["age"]=37

personal_data["address"]="東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [7]:
array= ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array[2])

水曜日は晴れです

In [1]:
dictionary={"mon":"晴れ","tue":"雨","wed":"晴れ","thu":"晴れ","fri":"曇り","sat":"曇りのち雨","sun":"雷雨"}
print(dictionary["wed"])

晴れ